@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #E2E8F0 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #E2E8F0;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

  .contact-links {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .contact-links a {
    margin: 5px;
    display: flex;
    align-items: center;
  }
  
  .contact-links i {
    margin-right: 2px;
    display: flex;
    justify-content: center;
  }
  
  .contact-details {
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(-1px);
  }